* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
span {
  font-size: 16px;
}
.miniWrap {
  width: 45%;
  margin: 0 auto;
}

.signIn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  width: 100%;
  text-align: left;
}

.box h1 {
  text-align: center;
}

.head {
  background-color: #084175;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.head a {
  color: #ffffff;
  text-decoration: none;
}

.head p {
  font-size: 18px;
  font-weight: 400;
}

.inputGroup {
  text-align: left;
  margin-bottom: 15px;
}

.inputGroup input {
  width: 100%;
  padding: 15px 10px;
}

.inputGroup span {
  margin-bottom: 10px;
  display: block;
}

.forgotPassword {
  text-align: right;
  color: #ef0707;
  /* margin-bottom: 15px; */
}
.btn {
  width: 100%;
  background-color: #084175;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  margin: 35px 0;
  border-radius: 5px;
}

.genderGroup {
  display: flex;
  margin-bottom: 15px;
}

.genderGroup > div {
  margin-right: 15px;
}

.agrrementGroup div {
  margin-bottom: 10px;
}

.agrrementGroup div input {
  margin-right: 10px;
}

.home {
  /* outline: 2px solid red; */
  padding-top: 40px;
  text-align: left;
}
.home p {
  font-size: 24px;
  margin: 60px 0;
}

.questionWrap {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}
.question {
  margin: 40px 0;
  margin-top: 60px;
}
.questionWrap .active {
  background-color: #084175;
  color: white;
}
.options {
  display: block;
  width: 70%;
  background-color: white;
  padding: 15px;
  margin: 25px auto;
  border-radius: 16px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls button {
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
}

.reportWrap {
  border: 1px solid black;
  padding: 15px 30px;
  margin-top: 30px;
}
@media (max-width: 760px) {
  .miniWrap {
    width: 90%;
  }

  .box h1 {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .btn {
    font-size: 16px;
  }

  .questionWrap {
    width: 90%;
    padding-top: 40px;
    text-align: left;
  }
  .options {
    width: 100%;
    padding: 15px;
    margin: 25px auto;
    text-align: left;
  }

  .controls button {
    padding: 10px 35px;
  }

  .reportWrap {
    padding: 0px 15px;
  }
}
